.custom-link {
	display: inline-block;
	width: 12%;
	border: 2px solid #10e45a;
	border-radius: 20px;
	margin: 15px;
	padding: 1em 1.5em;
    background-color: #4fff67;
	font: bold 1em Arial, sans-serif;
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
}

.custom-link:hover {
	border: 2px solid #0bac44;
	background-color: #12ea5ed4;
	color:#7d7474;
	cursor: pointer;
}

.top-right {
	margin-left: 46em;
}

.btn-alone {
	margin-left: 79em;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
	.custom-link {
		width: 100px;
		height: 40px;
		margin: 10px;
		padding: 2px;
		font: 0.4px;
		text-align: left;
	}
	.btn-alone {
		margin: 5px 15px;
		
	}
}

@media only screen and (max-width: 1520px) and (min-width: 769px) {
	.custom-link {
		width: 100px;
		height: 40px;
		margin: 15px;
		padding: 2px;
		font: 0.4px;
		text-align: left;
	}
	.btn-alone {
		margin-left: 15px;
	}
}
